div.product {
    width: 300px;
    cursor: pointer;
}

div.product:hover {
    background-color: #ccc;
}

div.productName {
    font-weight: bold;
}

span.greetings {
    margin-right: 15px;
}

span.myorders {
    margin-right: 15px;
}