.w {
    position: relative;
}

h1 {
    cursor: default;
}

h2.on-flow-panel {
    font-size: 150%;
    margin-bottom: 3pt;
}

.admin-gadgets {
    margin-bottom: 5pt;
}

.admin-gadgets h2 {
    margin-bottom: 0pt;
}

.admin-gadgets a {
    margin: 0pt 5pt 5pt 0pt;
}

.content {
    max-width: 800px;
    min-width: 650px;
    position: relative;
}

.menu-category {
    cursor: default;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: 100%;
    height: 50px;
}

.menu-item {
    position: relative;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 80%;

    height: 25px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

label.ordered {
    display: none;
    /* background-color: #FFFFCC; */
    /* color: lightgreen; */
    border-radius: 5px;
    padding: 0px 5px;
    position: absolute;
    left: -20px;
    top: -1px;
    width: 15px;
    height: 15px;
}

.menu-item.ordered {

}

.menu-item.ordered label.ordered{
    display: inline;
}


.menu-item:hover {
    color: #CC3333
}

.menu-item:active {
    color: #660000
}

.product-weight {
    color: #CC6633;
    font-size: 100%;
    display: none;
}

.product-cost {

}

.product-compound {
    display: block;
    font-size: 80%;
    font-style: italic;
    margin-left: 10pt;
    position: relative;
    top: -5px
}

.menu-item-container {
    position: relative;
}

.product-cancel {
    float: left;
    padding: 4px 0px 0px 0px;
    cursor: pointer;
    position: absolute;
    left: -25px;
}

.sales-receipt {
    /* width: 320px; */
    height: 400px;
    position: absolute;
    left: 825px;
    top: 100px;
    font-size: 70%;
    padding: 0px 10px 0px 10px;
}

.sales-receipt.fixed {
    position: fixed;
    top: 0px;
}

#total-cost span, #prev-total-cost span {
    border-top: 1px solid black;
}

#order-table, #prev-order-table {
    max-width: 450px
}

#order-table tr, #prev-order-table tr {
    margin: 5px;
}

.order-label {
    /* margin-bottom: 5px; */
}

.prev-order-label {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

table tr td {
    line-height: 1.5;
}

.td-food-inner {
    padding: 0px 10px 5px 0px;
}

span.free-delivery {
    background: #CCFFCC;
}

span.expensive-delivery {
    background: #FFCCCC;
}

span.cheap-delivery {
    background: #FFFFCC;
}

span.inorder-highlighted {
    padding: 2px 4px;
}

span.inorder-moved {
    position: relative;
    left: -2px;
}

.fill-it-with-dotes {
    overflow: hidden;
    letter-spacing: 10px;
    direction: rtl;
    padding-right: 5px;
}

.product-name {
    position: relative;
}

table.menu-item-container {
    max-width: 700px;
    width: 700px;
}

td.product-cost {
    white-space: nowrap;
}
