.product {
    cursor: pointer;
    width: 1024px;
}

.product:hover {
    text-decoration: underline;
}

.productDescription {
    font-size: 75%;
}

.productName {

}

.productCost {
    float: right;
}

span.greetings {
    margin-right: 15px;
}

span.myorders {
    margin-right: 15px;
}