alembic==0.6.5
amqp==1.4.5
anyjson==0.3.3
appnope==0.1.0
astroid==1.3.8
autopep8==1.2.1
backports.ssl-match-hostname==3.4.0.2
beanstalkc==0.4.0
beautifulsoup4==4.4.1
billiard==3.3.0.18
blessings==1.6
blinker==1.3
celery==3.1.12
cement==2.6.2
certifi==2015.9.6.2
chardet==2.3.0
click==4.1
cssmin==0.2.0
cssselect==0.9.1
cycler==0.9.0
Cython==0.23.3
decorator==4.0.4
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-bootstrap-form==3.2
django-debug-toolbar==1.3.2
django-pipeline==1.6.5
django-pipeline-browserify==0.2.0
django-pipeline-forgiving==1.0.0
django-postgrespool==0.3.0
django-tastypie==0.13.1
django-webpack-loader==0.3.0
djangorestframework==3.3.2
dominate==2.1.16
ecdsa==0.13
epc==0.0.5
Fabric==1.10.2
fexpect==0.2.post17
flake8==2.4.1
Flask==0.10.1
Flask-Admin==1.0.9
flask-appconfig==0.11.1
Flask-Assets==0.9
Flask-Bcrypt==0.6.0
Flask-Cache==0.13.1
Flask-DebugToolbar==0.9.0
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==1.2.0
flask-mongoengine==0.7.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-SQLAlchemy==2.0
Flask-WTF==0.10.3
funcsigs==0.4
functools32==3.2.3.post2
Ghost.py==0.2.3
git-pandas==1.0.0
gitdb==0.6.4
GitPython==1.0.1
gnureadline==6.3.3
gunicorn==19.0.0
HTMLParser==0.0.2
httpie==0.9.3
httplib2==0.9.2
importmagic==0.1.3
ipdb==0.8.1
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.2
isort==4.2.2
itsdangerous==0.24
jedi==0.9.0
Jinja2==2.7.3
jsmin==2.0.11
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.0
jupyter-core==4.0.6
kombu==3.0.20
legofy==1.0.0
linecache2==1.0.0
logilab-common==1.0.2
lxml==3.4.4
Mako==1.0.0
MarkupSafe==0.23
matplotlib==1.4.3
maybe==0.3.0
mccabe==0.3.1
meld3==1.0.2
mercurial==3.7.1
mistune==0.7.1
mock==1.3.0
mongoengine==0.8.7
nbconvert==4.0.0
nbformat==4.0.0
networkx==1.10
nose==1.3.7
notebook==4.0.4
numpy==1.10.4
optional-django==0.3.0
pandas==0.16.2
paramiko==1.16.0
passlib==1.6.2
Paste==2.0.2
path.py==8.1.1
pbr==1.8.0
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
pika==0.10.0
Pillow==2.5.1
psutil==3.4.2
psycopg2==2.6.1
ptyprocess==0.5
py-bcrypt==0.4
pycrypto==2.6.1
PyExecJS==1.1.0
pyflakes==1.0.0
pygame==1.9.2a0
Pygments==2.0.2
pylab==0.1.3
pylibmc==1.5.0
pylint==1.4.4
pymongo==2.7.1
pyparsing==2.0.3
pyquery==1.2.9
PyReact==0.6.0
PySide==1.2.2
python-dateutil==2.4.2
python-mimeparse==1.5.1
python-ptrace==0.8.1
pytz==2014.4
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.0.1
redis==2.10.1
requests==2.7.0
rockstar==0.5
rope==0.10.2
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.16.0
seaborn==0.6.0
selenium==2.47.3
sexpdata==0.0.3
Shinken==2.4.2
shortuuid==0.4.3
simplegeneric==0.8.1
six==1.9.0
sklearn==0.0
smartypants==1.8.6
smmap==0.9.0
splinter==0.7.3
spynner==2.20.dev0
SQLAlchemy==0.9.4
sqlparse==0.1.16
static3==0.6.1
supervisor==3.1.3
sympy==0.7.6.1
terminado==0.5
tornado==4.2.1
traceback2==1.4.0
traitlets==4.0.0
typogrify==2.0.7
unittest2==1.1.0
vboxapi==1.0
virtualenv==13.1.2
visitor==0.1.2
webassets==0.9
Werkzeug==0.9.6
wheel==0.24.0
whitenoise==2.0.6
WTForms==2.0.1
xlrd==0.9.4
xlutils==1.7.1
xlwt==1.0.0
yapf==0.3.1
