{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The owls are not what they seem">
    <meta name="author" content="Rails to Cosmos">

    <!-- styles -->
    {% stylesheet 'site-packages' %}
    {% stylesheet 'force' %}
    {% stylesheet 'authorization' %}

  </head>
  <body>
      <!-- <div class="behind-image"></div> -->
      <div class="background-image"></div>
      {% block navigation %}{% endblock %}
      {% block authorization %}{% endblock%}
      {% block content %}{% endblock %}

    <!-- JavaScript scripts -->
      {% javascript 'site-packages' %}
      {% javascript 'authorization' %}
      {% javascript 'force' %}
      <!--       {% javascript 'menu' %} -->
  </body>
</html>
