{% extends 'layout.html' %}

{% block content %}


        <div class="w">
            <div class="content">
                {% if status=='success' %}
                <h3><font color="green">File successfully uploaded</font></h3>
                <a href="/loadmenu">Upload more</a>
                {% elif status=='error' %}
                <h3><font color="red">File was not uploaded</font></h3>
                <a href="/loadmenu">Back</a>
                {% else %}
                <h3>Welcome, friend</h3>
                <p>Please, load menu using this form:</p>

                <form action="/loadmenu" method="POST" enctype="multipart/form-data">
                    <input name="menu" type="file" value=""/>
                    <input name="" type="submit" value="Submit"/>
                </form>
                {%- endif %}
            </div>
        </div>


{% endblock %}
