{% extends 'layout.html' %}

{% block content %}

<div class="w">
    <div class="content">
        <font color="red">{{ admin_error }}</font>
        <h1>Меню на {{ menu_weekday }}, {{ menu_day }} {{ menu_month }}</h1>
        <table class="menu-item-container">
            {% for category, product_list in products.iteritems() %}
            <tr class="menu-category">
                <td colspan="2" style="vertical-align: middle; padding-top: 10pt;">
                    {{ category }}
                </td>
            </tr>
            {% for product in product_list %}
            <tr class="menu-item {% if product.get('count') %}ordered{% endif %}" onclick="send_order('{{menu_id}}', '{{product.get('id')}}')" id="{{product.get('id')}}">
                <td class="product-name">
                    <label class="ordered">
                        ●
                    </label>
                    <table width="100%">
                        <tr>
                            <td style="white-space: nowrap;">
                                {{ product.get('name') }}
                            </td>
                            <td width="100%" style="max-width: 50px; text-align: right;">
                                <div class="fill-it-with-dotes">
                                    {{ '.'*500 }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="product-cost">
                    <span id="order-count-{{product.get('id')}}" class="hidden">{% if product.get('count') > 1 %}{{ product.get('count') }}×{% endif %}</span>{{ product.get('cost') }} ₽
                </td>
            </tr>
            {% if product.get('compound') %}
            <tr>
                <td colspan="2" class="product-compound">
                    {{ product.get('compound') }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for product in product_list %}
            {% if product.get('count') %}
            <script>
             if (typeof ordered_products == "undefined") {
                 ordered_products = [];
             }
             ordered_products.push(
                 {
                     'id': "{{product.get('id')}}",
                     'name': "{{product.get('name')}}",
                     'cost': {{product.get('cost')}},
                     'count': {{product.get('count')}},
                     'menu_id': "{{menu_id}}",
                     'total': {{total}},
                     'rest': {{rest}}
                 }
             );
            </script>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div class="sales-receipt" id="sales-receipt">
        {% if prev_products %}
        <h2 class="prev-order-label" id="prev-order-label">В прошлый раз вы заказывали</h2>
        <table width="100%" id="prev-order-table">
            {% for prev_cat in prev_products %}
            {% for prev_pdct in prev_products[prev_cat] %}
            <tr>
                <td>
                    <div class="td-food-inner">
                        {% if prev_pdct.get('count') > 1 %}
                        {{ prev_pdct.get('count')}}×
                        {% endif %}
                        {{ prev_pdct.get('name') }}
                    </div>
                </td>
                <td style="min-width: 50px">
                    {{ prev_pdct.get('cost') }}&nbsp;₽
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td></td>
                <td id="prev-total-cost">
                    <span>
                        {{ prev_total_cost }}&nbsp;₽
                    </span>
                </td>
            </tr>
        </table>
        {% endif %}
        <h2 class="my-order-label hidden" id="order-label">Чек</h2>
        <table width="100%" id="order-table">
            <tr>
                <td>
                </td>
                <td width="50">
                </td>
            </tr>
        </table>
        <div id="delivery-info" class="hidden">
            <h2 class="sum-order-label order-label hidden" id="total-delivery">
                До бесплатной доставки осталось <span id="sum-order-cost-total"></span>&nbsp;₽
            </h2>
            <h2 class="sum-delivery-label order-label hidden" id="not-free-delivery-container">Стоимость доставки &mdash;
                <span class="delivery-cost cheap-delivery inorder-highlighted hidden" id="cheap-delivery">
                    <span id="delivery-cost-cheap"></span>&nbsp;₽
                </span>
                <span class="delivery-cost expensive-delivery inorder-highlighted hidden" id="expensive-delivery">
                    <span id="delivery-cost-expensive"></span>&nbsp;₽
                </span>
            </h2>
            <h2 class="sum-delivery-label order-label hidden" id="free-delivery-container">
                <span class="free-delivery inorder-highlighted inorder-moved" id="free-delivery">
                    Бесплатная доставка
                </span>
            </h2>
        </div>
    </div>
</div>

{% endblock %}
