{% extends 'layout.html' %}

{% block content %}

<div class="w">
    <div class="content">
        <font color="red">{{ admin_error }}</font>
        <h1>Меню на {{ menu_weekday }}, {{ menu_day }} {{ menu_month }}</h1>
        {% for category, product_list in products.iteritems() %}
        <p class="menu-category">
            {{ category }}
        </p>
        {% for product in product_list %}
        <div class="menu-item-container">
            <p class="menu-item {% if product.get('count') %}ordered{% endif %}" onclick="send_order('{{menu_id}}', '{{product.get('id')}}')" id="{{product.get('id')}}">
                {{ product.get('name') }}
                <span class="product-weight">
                    {% if product.get('weight') %}
                    {{ product.get('weight') }}
                    {% endif %}
                </span>

                <span class="product-cost">
                    <span id="order-count-{{product.get('id')}}" class="hidden">{% if product.get('count') > 1 %}{{ product.get('count') }}×{% endif %}</span>{{ product.get('cost') }} ₽
                </span>
                {% if product.get('compound') %}
                <span class="product-compound">{{ product.get('compound') }}</span>
                {% endif %}
            </p>
        </div>
        {% if product.get('count') %}
        <script>
         if (typeof ordered_products == "undefined") {
             ordered_products = [];
         }
         ordered_products.push(["{{product.get('id')}}", "{{product.get('name')}}", {{product.get('cost')}}, {{product.get('count')}}, "{{menu_id}}", {{total}}]);
        </script>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    {% if prev_products %}
    <h2 class="prev-order-label" id="prev-order-label"><span style="background: #DDD; padding: 2px 4px;">В прошлый раз вы заказывали:</span></h2>
    <table width="100%" id="prev-order-table">
        {% for prev_cat in prev_products %}
        {% for prev_pdct in prev_products[prev_cat] %}
        <tr>
            <td style="min-width: 20px">

            </td>
            <td style="min-width: 15px">
                {% if prev_pdct.get('count') > 1 %}
                {{ prev_pdct.get('count')}}×
                {% endif %}
            </td>
            <td>
                <div class="td-food-inner">
                    {{ prev_pdct.get('name') }}
                </div>
            </td>
            <td style="min-width: 50px">
                {{ prev_pdct.get('cost') }}&nbsp;₽
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td id="prev-total-cost">
                <span>
                    {{ prev_total_cost }}&nbsp;₽
                </span>
            </td>
        </tr>
    </table>
    {% endif %}
    <div class="sales-receipt" id="sales-receipt">
        <h2 class="order-label hidden" id="order-label"><span style="background: #FFCC99; padding: 2px 4px;">Вы заказали:</span></h2>
        <table width="100%" id="order-table">
            <tr>
                <td>
                </td>
                <td width="50">
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
