{% extends 'layout.html' %}

{% block content %}

<div class="w">
    <div class="content">
        <h1>Меню на {{ menu_weekday }}, {{ menu_day }} {{ menu_month }}</h1>
        {% for category, product_list in products.iteritems() %}
        <p class="menu-category">
            {{ category }}
        </p>
        {% for product in product_list %}
        <div class="menu-item-container">
            <p class="menu-item {% if product.get('count') %}ordered{% endif %}" onclick="send_order('{{menu_id}}', '{{product.get('id')}}')" id="{{product.get('id')}}">
                {{ product.get('name') }}
                <span class="product-weight">
                    {% if product.get('weight') %}
                    {{ product.get('weight') }}
                    {% endif %}
                </span>

                <span class="product-cost">
                    <span id="order-count-{{product.get('id')}}" class="hidden">{% if product.get('count') > 1 %}{{ product.get('count') }}×{% endif %}</span>{{ product.get('cost') }} ₽
                </span>
                {% if product.get('compound') %}
                <span class="product-compound">{{ product.get('compound') }}</span>
                {% endif %}
            </p>
        </div>
        {% if product.get('count') %}
        <script>
         if (typeof ordered_products == "undefined") {
             ordered_products = [];
         }
         ordered_products.push(["{{product.get('id')}}", "{{product.get('name')}}", {{product.get('cost')}}, {{product.get('count')}}, "{{menu_id}}"]);
        </script>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="sales-receipt" id="sales-receipt">
        <h2 class="order-label hidden" id="order-label"><span style="background: #FFCC99; padding: 2px 4px;">Вы заказали:</span></h2>
        <table width="100%" id="order-table">
            <tr>
                <td>
                </td>
                <td width="50">
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
